/* FONTS *********/

@font-face {
    font-family: Lemon_friday;
    src: url(lemon_friday/Lemon Friday.ttf);
}


/*****************/

body {
  display: flex;
  justify-content: center;
  background: #e1d8c1;
}

h1{
  font-family: Lemon_friday;
}


#container {
  position: relative;
  top: 100px;
  width: 500px;
}

#content-box {
  background: #FFF;
  padding: 10px;
  margin-bottom: 15px;
  font-family: "Courier New"
}

ul {
  position: relative;
  list-style-type: none;
  padding: 1.5px;
  display: flex;
  justify-content: left;
  margin-bottom: 19px;
}
#box1{
  margin-left: 170px;
}
#box2{
  margin-left: 170px;
}
#box3{
  margin-left: 170px;
}
#box4{
  margin-left: 170px;
}
#box5{
  margin-left: 170px;
}
#box6 {
  margin-left: 170px;
}

a {
  text-decoration: none;
  background: #FFF;
  padding: 15px;
  font-family: "Courier New"
}

a:hover{
  background: #fcf7e9;
}

a:link {
  color: #aa477c;
}
