/* FONTS *********/

@font-face {
    font-family: NewTegomin;
    src: url(New_Tegomin/NewTegomin-Regular.ttf);
}

@font-face {
    font-family: Comfortaa;
    src: url(Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

@font-face {
    font-family: PatrickHand;
    src: url(Patrick_Hand/PatrickHand-Regular.ttf);
}

/*****************/

body {
  display: flex;
  justify-content: center;
  background: #e1d8c1;
}

h1{
  font-family: NewTegomin;
}

#container {
  position: relative;
  top: 100px;
  width: 500px;
}

#content-box {
  background: #FFF;
  padding: 10px;
  margin-bottom: 15px;
  font-family: PatrickHand;
}

#slider{
  overflow:hidden;
}

#slider figure{
  position: relative;
  width 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinate;
}

#slider figure img{
  width: 20%;
  float:left;
}

@keyframes slider{
  0%{
    left: 0;
  }
  20%{
    left: 0;
  }
  25%{
    left: -100%;
  }
  45%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  70%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
  95%{
    left: -300%
  }
  100%{
    left: -400%;
  }
}

ul {
  position: relative;
  list-style-type: none;
  margin: 40px;
  padding: 0px;
  display: flex;
  justify-content: center;
}
#box1{
  margin-left: 170px;
}
#box2{
  margin-left: 170px;
}
#box3{
  margin-left: 170px;
}
#box4{
  margin-left: 170px;
}
#box5{
  margin-left: 170px;
}
#box6 {
  margin-left: 170px;
}

a {
  text-decoration: none;
  padding: 10px;
  font-family: Comfortaa;
}

a:hover{
  background: #fcf7e9;
}

a:link {
  color: #aa477c;
}
